a { cursor: pointer; }

.app-container {
    min-height: 350px;
}


.bg-image {
    background-image: url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?cs=srgb&dl=pexels-janko-ferlic-590493.jpg&fm=jpg');
    min-height: 100%;
    min-width: 100%;
    position: relative;
} 

.p-4 {
    min-height: 100vh
}

.bg-title {
    background-color: rgba(238, 232, 232, 0.9); 
}

.bg-livre {
   /* // background-color: lightslategrey; */
   background-color: rgba(153, 151, 151, 0.5);
   
}



